{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<li>
  <a href="{{ base_path }}{{ post.url }}" rel="permalink"> {{title}} </a><br>
  {{ post.authorlist }}<br>
  <i>{{ post.venue }}</i>, {{post.year}}<br>
  {% if post.paperurl %}
  <a href="{{ post.paperurl }}">[pdf]</a>
  {% endif %}
  {% if post.code %}
  <a href="{{ post.code }}">[code]</a>
  {% endif %}
  {% if post.slide %}
  <a href="{{ post.slide }}">[slide]</a>
  {% endif %}
  {% if post.video %}
  <a href="{{ post.video }}">[video]</a>
  {% endif %}
  {% if post.poster %}
  <a href="{{ post.poster }}">[poster]</a>
  {% endif %}
</li>

